body {
    max-width: 800px;
    margin: auto;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;   
}

.screen-new-session {
    opacity: .9;
}

.primary-card-box {
    height: auto !important;
    min-height: 100%;
}

.screen-want-to-play {
    display: none;
    opacity: .9;
}

.screen-waiting-opponent {
    display: none;
    opacity: .9;
}

.fa-pulse {
    font-size: 250px;
}

.screen-game {
    display: none;
    opacity: .9;
    height: auto !important;
    min-height: 100%;
}

.make-selection:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.chat-output {
    max-width: 800px;
    height: 200px;
    background-color: #ccc;
    overflow-y: scroll;
}

.chat-output p {
    margin:0;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #f00;
}